container {
    padding-top: 70px;
    height: 499px;
}

body {
    padding top:100px;
}

.section_1.container {
    padding-top:100px;
}

section-1 {
    padding-top: 1000px;
}

#panel-front {
    height: 200px;
}

#newPost {
    margin-left: 50px;
}
