@(editForm: Form[views.formdata.EditProfileFormData], user: UserInfo, searchForm: Form[views.formdata.SearchFormData])

@import helper._
@import bootstrap3._

@main("Edit Profile", searchForm) {
<div class="container">
 @if(user != null) {
      <h1>@user.getName() <small>Edit Profile</small></h1>           
      <ul class="nav nav-tabs">
  <li role="presentation"><a href="#">View</a></li>
  <li role="presentation" class="active"><a href="@routes.Users.editProfile(user.getId())">Edit Profile</a></li>
</ul> 
      <div class="panel panel-default">
       <div class="panel-body">
            @form(routes.Users.postEditProfile(user.getId()), 'class -> "form-horizontal") {
              @hidden(editForm("id"))
              @password(editForm("verifyPassword"), "Verify Password", "Verify Password", "Please enter your current password.")
              @email(editForm("email"), "Email", "Email", "")
              @bootstrap3.text(editForm("name"), "Username", "Username", "")
              @bootstrap3.text(editForm("avatarURL"), "Avatar URL", "Avatar URL", "")
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Edit</button>
                </div>
              </div>
            }
        </div>
        </div>
        </div>
        
  }
}
