@(message: String, topic: List[Topic])

@main(message) {

<title>Welcome to the UH Knowledge Forum</title>
<div class="panel panel-primary topic-listing">
  <!-- Default panel contents -->
  <div class="panel-heading">Most Viewed <span class="badge"></span></div>
  <div class="panel-body">
  <ul class="list-group">
  @for(topic <- TopicDB.getTopics) {  
    <li class="list-group-item"> <a href="@routes.Application.viewTopic(topic.getSubject().getAcronym().toLowerCase(),topic.getId())">
    <span class="badge">Views @topic.getViews()</span> @topic.getTitle() (@topic.getSubject().getAcronym())</a></li>
  }
  </ul>
  </div>
  </div>

}