@(message: String)

@scripts = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")">
}

@main(message, scripts) {

    <div class="section-1">
        <h1>Welcome to the UH Forums</h1>
    </div>

    <div class="section_1">
    <div class="container">
    <div class="column">
    <div class="col-md-4    ">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Get help with your classes</h3>           
    </div>
        <div class="panel-body">
        <p>You can post question regarding your classes or any other assignments. Issues you are
        having without wandering the internet. </p>
        </div>
  </div>
  </div>
  </div>
  
    <div class="column">
    <div class="col-md-4">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Help other students</h3>           
    </div>
        <div class="panel-body">
        <p>You can assist other students who are having issues and contribute to the common
        knowledge pool or post answers to questions that you have been able to figure out. </p>
        </div>
  </div>
  </div>
  </div>
  
    <div class="column">
    <div class="col-md-4">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Easy to use</h3>           
    </div>
        <div class="panel-body">
        <p>You can simply post questions that you are looking for answers and will be visible to 
        most people looking in that field of study. Teachers can also post lectures and such so that 
        is much easier for people to get into classes. </p>
        </div>
  </div>
  </div>
  </div>
  </div>
  
  </div>
  <!--<div class="container">
    
  <div class="page-header">
<button class="btn btn-primary pull-right">Ask a Question</button>
  <h1 class="">All Questions</h1>  
</div>  
    
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Topics <span class="badge">3</span></h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
  <div class="panel-heading">
    <a href="#"><h3 class="panel-title">How do I learn Coffeescript?</h3></a> <span class="label label-info">Informaton & Computer Science</span><br/><small>Posted By: <a href="#">Eduard Gamiao</a> <br/>(0 Answers, 1 View)</small>
  </div>
  <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
    Hello, I do not how to do Coffeescript, Does anyone have any good resources to learn or get started? I...
    </div>
    </div>      
    </div>
  </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
  <div class="panel-heading">
    <a href="#"><h3 class="panel-title">Difference between l'impartif and passé composé?</h3></a><span class="label label-info">French</span><br/><small>Posted By: <a href="#">Eduard Gamiao</a> <br/>(0 Answers, 1 View)</small>
  </div>
  <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
    I have trouble knowing when to use which one.
    </div>
    </div>      
    </div>
  </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
  <div class="panel-heading">
    <a href="#"><h3 class="panel-title">SpaceChem and Chemistry</h3> </a><span class="label label-info">Chemistry</span> <br/><small>Posted By: <a href="#">Eduard Gamiao</a> <br/>(0 Answers, 1 View)</small>
  </div>
  <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
    Does SpaceChem (the game) make you good at chemistry.
    </div>
    </div>      
    </div>
  </div>
        </div>
    </div>
    </div>      
    </div>
    
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Topics <span class="badge">1</span></h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
  <div class="panel-heading">
    <a href="#"><h3 class="panel-title">Issues with a Linked-List Implementation?</h3></a> <span class="label label-info">Informaton & Computer Science</span><br/><small>Posted By: <a href="#">Brent Yoshida</a> <br/>(0 Answers, 1 View)</small>
  </div>
  <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
    Hello, I do not how to do Coffeescript, Does anyone have any good resources to learn or get started? I...
    </div>
    </div>      
    </div>
  </div>
        </div>
    </div>
    </div>      
    </div>
</div> -->
    
}
