@(message: String)

@main(message) {

    <div class="section-1">
        <h1>Welcome to the UH Forums</h1>
    </div>

    <div class="section_1">
    <div class="container">
    <div class="column">
    <div class="col-md-4    ">
    <div id="panel-front"class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Get help with your classes</h3>           
    </div>
        <div class="panel-body">
        <p>You can post question regarding your classes or any other assignments. Issues you are
        having without wandering the internet. </p>
        </div>
  </div>
  </div>
  </div>
  
    <div class="column">
    <div class="col-md-4">
    <div id="panel-front" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Help other students</h3>           
    </div>
        <div class="panel-body">
        <p>You can assist other students who are having issues and contribute to the common
        knowledge pool or post answers to questions that you have been able to figure out. </p>
        </div>
  </div>
  </div>
  </div>
  
    <div class="column">
    <div class="col-md-4">
    <div id="panel-front" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Easy to use</h3>           
    </div>
        <div class="panel-body">
        <p>You can simply post questions that you are looking for answers and will be visible to 
        most people looking in that field of study. Teachers can also post lectures and such so that 
        is much easier for people to get into classes. </p>
        </div>
  </div>
  </div>
  </div>
  </div>
  
  </div>
  
    
}
