@(title: String, searchForm: Form[views.formdata.SearchFormData])(content: Html)

@import bootstrap3._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <!-- Font-Awesome -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <!-- Google Fonts: Roboto + Roboto Condensed -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,300italic,700italic|Roboto+Condensed:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
         <!-- Custom css -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
    <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@routes.Application.index()">UH Knowledge Forum</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="@routes.Posts.postTopic()">Ask</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse<b class="caret"></b></a>
            <ul class="dropdown-menu subject-menu">
                <li><a href="@routes.Application.viewSubject("general")">General</a></li>
                <li class="divider"></li>
              <li class="dropdown-header">Subjects</li>
              @for(subject <- SubjectDB.getSubjects()) {
                @if(!(subject.getName().equals("General"))) {
                  <li><a href="@routes.Application.viewSubject(subject.getAcronym().toLowerCase())">@subject.getName() (@subject.getAcronym())</a></li>
                }
              }     
            </ul>
          </li>
          <li><a href="#">Help</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @search(searchForm("searchTerm"))
            @if(Secured.isLoggedIn(ctx())) {
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, @Secured.getUserInfo(ctx()).getName()<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Profile</li>
                <li><a href="@routes.Users.viewProfile(Secured.getUserInfo(ctx()).getId())">View Profile</a></li>
                <li><a href="@routes.Users.editProfile(Secured.getUserInfo(ctx()).getId())">Edit Profile</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Users.logout()">Logout</a></li>       
            </ul>
          </li>
            } else {
            <li><a href="/login">Login</a></li>
            <li><a href="@routes.Users.signup()">Signup</a></li>
            }
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
        @content
        <!-- Load Bootstrap JavaScript components. HTMLUnit (used in testing) requires JQuery 1.8.3 or below). -->        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
