@(message: String, user: UserInfo)

@import helper._
@import bootstrap3._


@main(message + ": " + user.getName()) {
  <div class="container">
  @if(user != null) {      
      <h1>
      @if(!(user.getAvatarURL.isEmpty())) {
      <img src="@user.getAvatarURL()" class="avatar img-thumbnail"> 
      }
      
      @user.getName() <small>View Profile</small></h1>                 
      <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">View</a></li>
  <li role="presentation"><a href="@routes.Users.editProfile(user.getId())">Edit Profile</a></li>
</ul> 
      <div class="panel panel-default">
       <div class="panel-body">
       <div class="panel panel-primary">
       <div class="panel-heading">My Topics</div>            
      @topics(user.getTopics())
      </div>

       <div class="panel panel-primary">
       <div class="panel-heading">My Answers</div> 
  <!-- List group -->
  <ul class="list-group">
    @if(user.getPosts().isEmpty()) {
    <li class="list-group-item"><span class="label label-info">You have not posted in any topics.</span></li>
  } else {
    @for(post <- user.getPosts()) {    
    <li class="list-group-item topic">@post.getTopicText()</li>
    }
  }
  </ul>
</div> 
      </div>
    </div>
    </div>    
  }
}
