@(message: String, user: UserInfo, searchForm: Form[views.formdata.SearchFormData])

@import helper._
@import bootstrap3._


@main(message + ": " + user.getName(), searchForm) {
  <div class="container">
  @if(user != null) {
      <div class="page-header"><h1>@user.getName()</h1></div> 
      <div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">My Topics <span class="badge">@user.getTopics().size()</span></div>

  <!-- List group -->
  <ul class="list-group">
  @if(user.getTopics().isEmpty()) {
    <li class="list-group-item"><span class="label label-info">You have not created any topics yet.</span></li>
  } else {
    @for(topic <- user.getTopics()) {    
    <li class="list-group-item topic">@topic.getTitle()</li>
    }
  }
  </ul>
</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">My Answers <span class="badge">0</span></div>


  <!-- List group -->
  <ul class="list-group">
    @if(user.getPosts().isEmpty()) {
    <li class="list-group-item"><span class="label label-info">You have not posted yet.</span></li>
  } else {
    @for(post <- user.getPosts()) {    
    <li class="list-group-item topic">@post.getTopicText()</li>
    }
  }
  </ul>
</div> 
    </div>
  }
}
