@(searchForm: Form[views.formdata.SearchFormData], subjectMap: Map[Subject, Boolean], term: String, subject: String, currentPage: Integer) 

@import bootstrap3._
@subjectDisplay(subject: String) = @{
    if (subject.isEmpty()) "All Subjects" else subject
}  

@main("Search Results: " + term + " in " + subjectDisplay(subject)) {

<!-- Created By: Eduard Gamiao -->

<div class="container">
  <div class="page-header results">
    <h1>
      Search <small>By Topic</small>
    </h1>
  </div>
  @topicSearch(searchForm("term"), searchForm("subject"), "Search Topics", subjectMap)
  <div class="col-md-12">
      @searchResults(term, subject, TopicDB.getTopicsBySearch(term, subject), currentPage)
</div>
}
</div>
