@(searchForm: Form[views.formdata.SearchFormData], subjectMap: Map[Subject, Boolean], term: String, subject: String, currentPage: Integer) 

@import bootstrap3._ 

@main("Search Results: " + term) {
<div class="container">
  <div class="page-header">
    <h1>
      Search
    </h1>
  </div>
  @topicSearch(searchForm("term"), searchForm("subject"), "Enter Search Term", subjectMap)
  <div class="col-md-12">
      @searchResults(term, subject, TopicDB.getTopicsBySearch(term, subject), currentPage)
</div>
}
