@(subject: Subject, tags: HashMap[String, Integer])

@import bootstrap3._

@main(subject.getName()) {
  <div class="container">
    <div class="page-header"><h1>@subject.getName() <small>(@subject.getAcronym())</small></h1></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="panel panel-primary">
      
      <!-- Default panel contents -->
      <div class="panel-heading">Recent Topics</div>
     
  @topics(TopicDB.getTopicsBySubjectSorted(subject))
</div>      
    </div>
    <div class="col-md-2 col-sm-2 hidden-xs">
      <div class="well well-white">
      <p class="text-center"><strong>Popular Tags</strong></p>
      <ul class="tag-list">
      @if(!(tags.isEmpty())) {
        @for((key, value) <- tags) {          
          <a href="#"><span class="label label-primary tag">@key</a>
        }
      } else {
        <p><i>Tag list is empty.</i></p>
      }
      </ul>
      </div>
    </div>
  </div>
}