@(tagForm: Form[views.formdata.TagSearchFormData], subjectMap: Map[Subject, Boolean], tag: String, subject: Subject, currentPage: Integer) 

@import bootstrap3._

@main("Search Results: " + tag + " in " + subject) {
<div class="container">
  <div class="page-header">
    <h1>
      Search
    </h1>
  </div>
  @tagSearch(tagForm("tag"), tagForm("subject"), "Tag Search Field", subjectMap)
  <div class="col-md-12">
      @tagResults(tag, subject, TopicDB.getTopicByTag(tag, subject), currentPage)
</div>
}
