@(subject: Subject, tagMap: TreeMap[String, Integer]) 

@import bootstrap3._ 

@main(subject.getName()) {

<!-- Created By: Eduard Gamiao -->

<div class="container">
  <div class="page-header">
    <h1>
      @if(!(subject == null)) {@subject.getName() <small>(@subject.getAcronym())} else {All Subjects}</small>      
    </h1>
  </div>
  <div class="col-md-10">
    <div class="panel panel-primary">    
      <!-- Default panel contents -->
      <div class="panel-heading">Topics 
    </div>

      @topics(TopicDB.getTopicsBySubjectSorted(subject))
    </div>
      <a href="@routes.Posts.postTopic()"><button class="btn-group btn-primary">New Topic</button></a>
  </div>
  @tags(tagMap, subject.getName())
</div>
}
